server {
    #Node.JS service example for https://github.com/bagart/laradock-multi
    listen 80;
    listen [::]:80;

    # For https
    listen 443 ssl;
    #listen [::]:443 ssl ipv6only=on;
    ssl_certificate /etc/nginx/ssl/default.crt;
    ssl_certificate_key /etc/nginx/ssl/default.key;

    server_name ~^dashboard\.(multi\.|localhost$);

    root /var/www/dashboard/public;
    index index.html;

    location / {
#         try_files $uri $uri/ /index.html$is_args$args;
#    }
        proxy_pass                 http://dashboard/;
        proxy_redirect             off;

        proxy_set_header           Host             $host;
        proxy_set_header           X-Real-IP        $remote_addr;
        #proxy_set_header          X-Forwarded-For  $proxy_add_x_forwarded_for;

        client_max_body_size       10m;
        client_body_buffer_size    128k;

        #client_body_temp_path      /var/nginx/client_body_temp;

        proxy_connect_timeout      70;
        proxy_send_timeout         90;
        proxy_read_timeout         90;
        #proxy_send_lowat           12000;

        proxy_buffer_size          4k;
        proxy_buffers              4 32k;
        proxy_busy_buffers_size    64k;
        proxy_temp_file_write_size 64k;

        #proxy_temp_path            /var/nginx/proxy_temp;

        charset                    utf-8;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/dashboard_error.log;
    access_log /var/log/nginx/dashboard_access.log;
}
